:root {
  --primary: #5695c0;
  --secondary: #fffbde;
  --dark-text: #0a0909;
  --light-text: #fff;
  --light: #fbfcfc;
  --dark: #2c6995;
  --box-shadow:
    color-mix(in srgb, var(--dark-text) 9%, transparent) 0px 2px 1px,
    color-mix(in srgb, var(--dark-text) 9%, transparent) 0px 4px 2px,
    color-mix(in srgb, var(--dark-text) 9%, transparent) 0px 8px 4px,
    color-mix(in srgb, var(--dark-text) 9%, transparent) 0px 16px 8px,
    color-mix(in srgb, var(--dark-text) 9%, transparent) 0px 32px 16px;
  --sticker-shadow: 3px 3px 0 var(--dark-text);
}

.primary {
  color: var(--primary) !important;
}

.secondary {
  color: var(--secondary) !important;
}

.light {
  color: var(--light) !important;
}

.dark {
  color: var(--dark) !important;
}

.primarybg {
  background-color: var(--primary) !important;
}

.secondarybg {
  background-color: var(--secondary) !important;
}

.lightbg {
  background-color: var(--light) !important;
}

.darkbg {
  background-color: var(--dark) !important;
}

.text {
  color: var(--dark-text) !important;
}

.l-text {
  color: var(--light-text) !important;
}

.border {
  border: var(--dark-text) 5px solid;
  border-radius: 5px;
}

.shade {
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.pill {
  box-shadow: var(--box-shadow);
  border-radius: 500px;
  padding: 3px 12px;
}

.circle {
  border: var(--dark-text) 3px solid;
  border-radius: 50%;
  width: 34px;
  height: 34px;
}

.tl {
  text-align: justify !important;
}

.frow {
  display: flex;
  flex-direction: row;
}
